/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
KEYFRAMES STYLES
========================================================================== */

@-moz-keyframes spin {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* ==========================================================================
GLOBAL STYLES
========================================================================== */

body {
    margin: 0;
    position: relative;
    padding-bottom: 4.1em;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearFloat:after,
.clearFloat:before {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/* ==========================================================================
   320px
   ========================================================================== */

#header {
    text-align: center;
    background-color: #111;
}

#header > h1 {
    margin: 0;
    padding: 0.3em;
    color: #fff;
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;
}

#header > h1 > span {
    color: #c41e1e;
}

#header #logoIcon:before {
    font-family: 'FontAwesome';
    content: "\f135";
    -webkit-font-smoothing: antialiased;
}


main {
    width: 100%;
    min-height: 34em;
    position: relative;
    padding-bottom: 1em;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.overlay .overlayBackground {
    width: 100%;
    background-color: #000;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.7;
}

.overlay .overlayShell {
    max-width: 35em;
    width: 90%;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
    margin-top: 13em;
    padding: 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.overlayImgContainer {
    min-height: 3em;
    max-height: 34em;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border: 1px dashed #c41e1e;
}

.overlayImgContainer > img {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.overlay .overlayShell .overlayClose {
    margin: 1em 0 0.5em;
    width: 100%;
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: #c41e1e;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5em 0;
    text-align: center;
}

#reviewsContainer {
    width: 90%;
    margin: 0 auto;
    max-height: 35em;
    overflow-y: auto;
    padding-right: 5px;
}

#reviewsContainer > div {
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
}

#reviewsContainer > div p {
    margin: 0.5em 0;
}

#reviewsContainer > div .reviewAuthor {
    font-weight: bold;
}

#reviewsContainer > div .reviewAspect {
    text-transform: capitalize;
}

.overlay .overlayShell .overlayClose.overlayCloseTop {
    margin: 0.5em 0 1em;
}

#maps {
    width: 100%;
    height: 22em;
}

#mapWrapper {
    border-bottom: 1px dashed #c41e1e;
}

#placeDetail,
#searchConfig {
    width: 100%;
    padding: 1em;
    position: relative;
}

#placeDetail h3 {
    margin-top: 0;
    font-size: 1.5em;
}

#placeDetail p {
    margin: 0.3em 0;
}

#placeDetail .resultRatings p,
#placeDetail .resultPrice p {
    margin: 0;
}

#placeDetail .placeDetailsPictures {
    text-align: center;
    width: 96%;
}

#placeDetail .btn,
#searchConfig .btn {
    padding: 0.5em;
    background-color: #c41e1e;
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.5em;
    display: inline-block;
    font-size: 0.9em;
}

#searchConfig .btn {
    font-size: 1em;
    width: 50%;
    text-align: center;
    margin: 3em auto 0;
    display: block;
}

#placeDetail .placeDetailsPictures > a {
    display: inline-block;
    margin: 0 0.3em 0.6em;
}

#placeDetail .placeDetailsPictures > a:nth-child(1n+7) {
    display: none;
}

#placeDetail .placeDetailsWeb,
#searchConfig .placeDetailsWeb {
    color: #c41e1e;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 17em;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

#placeDetailLoading {
    height: 100%;
    width: 100%;
    display: table;
}

#searchConfig .checkBoxLabel{
    text-transform: capitalize;
}

#filtersWrapper {
    width: 100%;
    max-width: 23em;
    margin: 0 auto;
}

#filtersWrapper:after,
#filtersWrapper:before {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#searchConfig .checkBoxContainer {
    width: 50%;
    float: left;
}

#searchSet p {
    display: inline-block;
}

#placeDetailLoading .loading {
    vertical-align: middle;
    display: table-cell;
    font-size: 2em;
}

#doubleButton {
    width: 80%;
    margin: 1em auto;
    text-align: center;
}

#doubleButton .btn {
    color: white;
    line-height: 2em;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    display: block;
    text-decoration: none;  
    width: 50%;
}

#doubleButton #retrackBtn {
    background-color: #c41e1e;
    float: left;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

#doubleButton #configureBtn {
    background-color: #000000;
    float: left;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

#placesError,
#placesLoading {
    width: 100%;
}

.placesErrorDesc {
    text-align: center;
    color: #c41e1e;
    font-weight: bold;
    font-size: 1.5em;
}

.no-cssanimations .loading:before {
    content: 'Loading...';
}

.cssanimations .loading:before {
    content: '\f110';
    font-family: 'FontAwesome';
    text-align: center;
    font-size: 2.5em;
    display: block;
    -webkit-font-smoothing: antialiased;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name: spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-duration: 1.5s;
    -moz-animation-name: spin;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-duration: 1.5s;
    -ms-animation-name: spin;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#placesContainer {
    width: 90%;
    margin: 0 auto;
    min-height: 6em;
}

.flexbox #placesContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.no-flexbox #placesContainer {
    text-align: center;
}

#placesContainer > .result {
    width: 90%;
    margin: 0 auto 1em;
    background-color: #eee;
    padding: 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
} 

.no-flexbox #placesContainer > .result {
    text-align: left;
}

#placesContainer .resultIndex {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.3em;
    line-height: 1;
    font-size: 1.2em;
    color: #c41e1e;
    font-weight: bold;
}

#placesContainer .resultName {
    font-size: 1.2em;
    color: #c41e1e;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0 1.2em;
}

#placesContainer .resultIcon {
    position: absolute;
    top: 0.2em;
    right: 0;
    margin: 0.3em;
    width: 1.5em;
}

#placesContainer .resultAddress {
    font-size: 0.7em;
    margin-top: 0;
}

#placesContainer .resultCategories,
#placesContainer .resultAddress {
    font-size: 0.7em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

#placesContainer .resultCategories {
    margin-bottom: 1.6em;
}

#placesContainer .resultDisclaimer {
    position: absolute;
    bottom: 0.3em;
}

#placesContainer .resultRatings,
#placesContainer .resultPrice {
    margin-bottom: 0.4em;
    font-size: 0.7em;
    margin-top: 0.5em;
}

.resultRatings p,
.resultPrice p {
    margin-top: 0em;
    margin-bottom: 0.2em;
    display: inline-block;
}

.resultStars,
.resultDollar {
    font-family: 'FontAwesome';
    color: #e6e600;
    display: inline-block;
    background-color: #c41e1e;
    padding: 0 3px;
    margin-right: 3px;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.resultCategories span {
    display: inline-block;
    background-color: #ea9090;
    padding: 0 3px;
    margin-right: 3px;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 3px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
    text-align: center;
    padding: 0.7em 0;
}

@media only screen and (min-width: 768px) {

    #maps {
        width: 100%;
        height: 32em;
    }

    .doubleView #maps {
        width: 50%;
        float: left;
        border-right: 1px dashed #c41e1e;
    }

    .doubleView:after,
    .doubleView:before {
        content: " ";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #placeDetail,
    #searchConfig {
        width: 50%;
        height: 32em;
        float: right;
    }

    .overlay .overlayShell {
        margin-top: 1em;
    }

    #placeDetail .placeDetailsPictures {
        position: absolute;
        bottom: 1em;
    }

    #placesContainer > .result {
        display: inline-block;
        width: 48%;
        margin: 0.5em 1%;
        vertical-align: middle;
    }

}

@media only screen and (min-width: 1350px) {
    #placesContainer > .result {
        width: 31.33%;
    }
}

@media only screen and (min-width: 1800px) {
    main {
        min-height: 55.45em;
    }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}