<div id="mapWrapper" ng-class="{doubleView: (placeDetail.display || searchConfig.display)}">
    <div id="maps">
    </div>
    <div id="placeDetail" ng-if="placeDetail.display">
    </div>
    <div id="searchConfig" ng-if="searchConfig.display">
        <h3>Config Filters</h3>
        <form>
        </form>
    </div>
</div>
<div id="doubleButton" class="clearFloat">
    <a href="" ng-click="showConfigs()" class="btn" id="configureBtn">Configure!</a> 
    <a href="" ng-click="retrack()" class="btn" id="retrackBtn">Retrack!</a> 
</div>
<div id="placesContainer">
    <div id="placesLoading" ng-if="places.loading">
        <p class="loading"></p>
    </div>
    <div id="placesError" ng-if="places.error">
        <p class="placesErrorDesc">{{places.error}}</p>
    </div>
    <div ng-if="!places.error && !places.loading" ng-repeat="place in places" class="result" ng-click="centerOnMap($index+1)">
        <p class="resultIndex">{{ $index + 1 | toAZ }}</p>
        <p class="resultName">{{ place.name }}</p>
        <img class="resultIcon" ng-if="place.icon" src="{{ place.icon }}" />
        <p class="resultAddress" ng-if="place.vicinity">Address: {{ place.vicinity }}</p>
        <div class="resultRatings" ng-if="place.rating">
            <p>Ratings:</p>
            <span class="resultStars" ng-bind-html="place.rating | ratingToStar | toHTML"></span>
        </div>
        <div class="resultPrice" ng-if="place.price_level">
            <p>Price:</p>
            <span class="resultDollar" ng-bind-html="place.price_level | priceRating | toHTML"></span>
        </div>
        <p class="resultCategories">
            Tags: 
            <span ng-repeat="locationType in place.types" class="resultCategory">
                {{ locationType | underscoreToSpace }}
            </span>
        </p>
        <img src="img/powered-by-google-on-white.png" class="resultDisclaimer" alt="Powered by Google" />
    </div>
</div>